# VsCode files
.vscode/

# Eclipse files
/.settings/
/.vscode/
/.project
/.buildpath

# Iginorando arquivos do Adianti
#/tmp/
#!/tmp/.htaccess

/logs/
/vendor/
node_modules/
npm-debug.log
yarn-error.log
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
